<!-- views/components/sidebar.ejs -->
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3 sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link <%= activePage === 'home' ? 'active' : '' %>" aria-current="page" href="/">
                    <span data-feather="home"></span>
                    Painel Principal
                </a>
            </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                <span>Sincronizações</span>
            </h6>
            <li class="nav-item">
                <a class="nav-link <%= activePage === 'produtos' ? 'active' : '' %>" href="/produtos">
                    <span data-feather="package"></span>
                    Produtos
                </a>
            </li>
            <!--

            <li class="nav-item">
                <a class="nav-link <%= activePage === 'clientes' ? 'active' : '' %>" href="/clientes">
                    <span data-feather="users"></span>
                    Clientes
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link <%= activePage === 'servicos' ? 'active' : '' %>" href="#">
                    <span data-feather="briefcase"></span>
                    Serviços
                </a>
            </li>
          
                --> 
            <li class="nav-item">
                <a class="nav-link <%= activePage === 'setores' ? 'active' : '' %>" href="/setores">
                    <span data-feather="tag"></span>
                    Setores
                </a>
            </li>
           
            <li class="nav-item">
                <a class="nav-link <%= activePage === 'pedidos' ? 'active' : '' %>" href="/pedidos">
                    <span data-feather="shopping-cart"></span>
                    Pedidos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= activePage === 'intelipost' ? 'active' : '' %>" href="/intelipost/envios">
                    <span data-feather="truck"></span>
                    Envios Intelipost
                </a>
            </li>
              <li class="nav-item">
                <a class="nav-link <%= activePage === 'pedidos' ? 'active' : '' %>" href="/canais-venda">
                    <span data-feather="shopping-cart"></span>
                    Canais de vendas
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            <span>Relatórios e Logs</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link <%= activePage === 'fotos' ? 'active' : '' %>" href="/fotos">
                    <span data-feather="image"></span>
                    Consultar Fotos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= activePage === 'logs' ? 'active' : '' %>" href="/logs">
                    <span data-feather="file-text"></span>
                    Logs Gerais
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link <%= activePage === 'configuracoes' ? 'active' : '' %>" href="/configuracoes">
                    <span data-feather="settings"></span>
                    Configurações
                </a>
            </li>
        </ul>
    </div>
</nav>
  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      /* Estilos básicos para a sidebar (podem ir no dashboard.css) */
      .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100; /* Behind the navbar */
        padding: 48px 0 0; /* Height of navbar */
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      }
      .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      }
      .nav-link {
        font-weight: 500;
        color: #333;
      }
      .nav-link .feather {
        margin-right: 4px;
        color: #727272;
      }
      .nav-link.active {
        color: #007bff;
      }
      .nav-link:hover .feather,
      .nav-link.active .feather {
        color: inherit;
      }
      .sidebar .nav-link {
        display: flex;
        align-items: center;
      }
      .sidebar .nav-link .feather {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
        margin-right: 8px;
      }
    </style>